---
layout: page
---

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 归档列表 -->
            <div style="padding-top:20px;"></div>
            <%
                var years = {};
                site.posts.sort('date').reverse().forEach(function(post){
                    var year = post.date.year()
                    if(years[year]===undefined){
                        years[year] = [];
                    }
                    years[year].push(post);
                });
            %>

             <!-- 归档列表 -->

            <% Object.keys(years).reverse().forEach(function(year){  %>
            <div class="archives-wrap">
                <span class="archive-year-wrap" id="<%= year %>">
                    <span class="archive-year"><%= year %></span>
                </span>
                <div class="archives">
                <% years[year].map(function(post){  %>
                  <!-- <li class="listing-item">
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </li> -->
                 <article class="archive-article archive-type-post">
                   <div class="archive-article-inner">
                     <header class="archive-article-header">
                       <span class="archive-article-date">
                         <time style="color:#5c6b72;font-size: 14px;"><%= post.date.format('MM-DD') %></time>
                       </span>
                       <h2 class="archive-article-title" style="color: #0085a1">
                         <a href="<%- config.root %><%- post.path %>" class="archive-article-title">
                           <%- post.title || "Untitled" %>
                         </a>
                       </h2>
                     </header>
                   </div>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                </article>
                <% }) %>
                </div>
            </div>
            <% }) %>


        </div>
    </div>
</div>
